@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100);
@import 'colors';
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0; 
  -webkit-font-smoothing: antialiased;
}

header{
	background: $basecolor;
	width:100%;
	padding: 7em 0;
	color: $whitecolor;
	text-align: center;

}


a{
	text-decoration: none;
	color: inherit;
}

hr{
	height: 0;
	margin-left: 5rem;
	margin-right: 5rem;
}